body {
  padding-top: 2rem;
  font-family: Open Sans;
  background-color: black;
  color: white;
}

.container {
  margin-top: 2rem;
}

.clock-panel {
  width: 27.05%;
  margin-right: 8%;
}
.week-panel { width: 57.16%; }
.all-time-panel { width: 25.36%; }

h1 {
  font-size: 2.3rem;
  font-weight: 300;
  text-transform: lowercase;
  margin-bottom: 0;
}

.clear {
  clear: both;
}

#date {
  margin-bottom: 0;
}

#clock {
	margin-top: 2rem;
}

#date h1 {
  margin-bottom: 1rem;
  text-align: left;
}

#events {
  margin-top: 2rem;
}

#coming-soon {
  margin-top: 1rem;
}

ol.contributors {
  list-style-type: none;
  list-style-position: inside;
  margin-top: 2rem;
	counter-reset: level1;
}

ol.contributors li.normal:before {
	content: "0" counter(level1) " ";
	counter-increment: level1;
}

ol.contributors li {
	
}

ol.contributors li {
	font-family: "Roboto Mono";
	font-size: 1.1rem;
	margin-bottom: 1rem;
}

ol.contributors li a.username {
	font-weight: bold;
  text-transform: lowercase;
}

.commits {
  color: #30a551;
}

a {
  text-decoration: none;
  color: white;
}

#event-list {
  margin-top: 1rem;
}

.techx-event {
  text-transform: lowercase;
}
