<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>TechX Github Leaderboard</title>

    <link rel="stylesheet" type="text/css" href="toast.css">
    <link rel="stylesheet" type="text/css" href="style.css">

    <script src="tickclock.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="grid">
        <div class="unit one-of-three">
					<div id="clock"></div>
        </div>

				<div class="unit two-of-three">
          <h1>Commits</h1>
				</div>
      </div>
    </div>
  </body>
</html>

