<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>TechX Github Leaderboard</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/toast.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/tik.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/js/vendor/moment.js"></script>
    <script src="/static/js/tikclock.js"></script>
    <script src="/static/js/dash.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="grid">
        <div class="unit one-of-three">
          <div id="date">
            <h1 id="date-string">Date</h1> 
          </div>
          <div id="clock"></div>
          <div id="events">
            <h1>Events</h1>
            <div id="event-list"></div>
          </div>
        </div>

        <div class="unit two-of-three">
          <h1>Commits this week</h1>
          <ol id="leaderboard" class="contributors"></ol>
        </div>
      </div>
    </div>
  </body>
</html>

