body {
  padding-top: 2rem;
  font-family: Open Sans;
}

h1 {
  font-size: 2rem;
  font-weight: 300;
  text-transform: lowercase;
  margin-bottom: 0;
}

.clear {
  clear: both;
}

#date {
  margin-bottom: 0;
}

#date h1 {
  margin-bottom: 1rem;
  text-align: left;
}

#events {
  margin-top: 1rem;
}

#coming-soon {
  margin-top: 1rem;
}
